# Dependencies
**/node_modules

# Source control
**/.git
**/.gitignore
**/.gitattributes

# Development
**/.env*
**/.vscode
**/.idea
**/coverage
**/tests
**/*.test.*
**/*.spec.*

# Build outputs
**/dist
**/build
**/.next

# Logs and databases
**/logs
**/*.log
**/.DS_Store
# Exclude top-level data folder only
data

# Documentation
**/README.md
**/LICENSE
**/docs