{
    "root": true,
    "ignorePatterns": [
        "backups/",
        "coverage/",
        "data/",
        "dist/",
        "node_modules/",
        "coverage/",
        "generated/"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "env": {
        "node": true,
        "es6": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "quotes": [
            "error",
            "double"
        ],
        "comma-dangle": [
            "error",
            "always-multiline"
        ],
        "semi": [
            "error",
            "always"
        ],
        "space-infix-ops": "error",
        "keyword-spacing": "error",
        "arrow-spacing": "error",
        "prefer-const": "error",
        "no-var": "error",
        "no-empty-function": "off",
        "object-shorthand": "error",
        "eol-last": "error",
        "padding-line-between-statements": [
            "error",
            {
                "blankLine": "always",
                "prev": "import",
                "next": "*"
            },
            {
                "blankLine": "never",
                "prev": "import",
                "next": "import"
            }
        ],
        "func-names": [
            "error",
            "always"
        ],
        "func-style": [
            "error",
            "declaration",
            {
                "allowArrowFunctions": false
            }
        ],
        "no-magic-numbers": [
            "error",
            {
                "ignore": [
                    -1,
                    0,
                    0.5,
                    1,
                    2,
                    100
                ],
                "ignoreArrayIndexes": true,
                "enforceConst": true,
                "detectObjects": false
            }
        ]
    },
    "overrides": [
        {
            "files": [
                "**/*.test.js",
                "**/*.test.jsx",
                "**/*.test.ts",
                "**/*.test.tsx"
            ],
            "rules": {
                "no-magic-numbers": "off",
            }
        }
    ],
}