{
    "root": true,
    "ignorePatterns": [
        "dist/",
        "server/src/auth/message_signing/",
        "ui/public/pkg/",
        "vite.config.ts",
        "graphqlTypes.ts",
        "generated/"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "env": {
        "node": true,
        "es6": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "project": [
            "./packages/jobs/tsconfig.json",
            "./packages/server/tsconfig.json",
            "./packages/server/tsconfig.test.json",
            "./packages/shared/tsconfig.json",
            "./packages/shared/tsconfig.test.json",
            "./packages/ui/tsconfig.json",
            "./packages/ui/tsconfig.test.json",
            "./packages/ui/tsconfig.tools.json"
        ]
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "quotes": [
            "error",
            "double"
        ],
        "comma-dangle": [
            "error",
            "always-multiline"
        ],
        "semi": [
            "error",
            "always"
        ],
        "space-infix-ops": "error",
        "keyword-spacing": "error",
        "arrow-spacing": "error",
        "prefer-const": "error",
        "no-var": "error",
        "no-empty-function": "off",
        "object-shorthand": "error",
        "eol-last": "error",
        "padding-line-between-statements": [
            "error",
            {
                "blankLine": "always",
                "prev": "import",
                "next": "*"
            },
            {
                "blankLine": "never",
                "prev": "import",
                "next": "import"
            }
        ]
    }
}