{
    "root": true,
    "ignorePatterns": [
        "backups/",
        "coverage/",
        "data/",
        "dist/",
        "node_modules/",
        "coverage/",
        "generated/"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "env": {
        "node": true,
        "es6": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "import" // eslint-plugin-import
    ],
    "rules": {
        "quotes": [
            "error",
            "double"
        ],
        "comma-dangle": [
            "error",
            "always-multiline"
        ],
        "semi": [
            "error",
            "always"
        ],
        "space-infix-ops": "error",
        "keyword-spacing": "error",
        "arrow-spacing": "error",
        "prefer-const": "error",
        "no-var": "error",
        "no-empty-function": "off",
        // Keep no-unused-vars rule, but allow unused variables that start with an underscore.
        // This is useful for destructuring.
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": [
            "error",
            {
                "argsIgnorePattern": "^_[^_].*$|^_$",
                "varsIgnorePattern": "^_[^_].*$|^_$",
                "caughtErrorsIgnorePattern": "^_[^_].*$|^_$"
            }
        ],
        "object-shorthand": "error",
        "eol-last": "error",
        "padding-line-between-statements": [
            "error",
            {
                "blankLine": "always",
                "prev": "import",
                "next": "*"
            },
            {
                "blankLine": "never",
                "prev": "import",
                "next": "import"
            }
        ],
        "func-names": [
            "error",
            "always"
        ],
        "func-style": [
            "error",
            "declaration",
            {
                "allowArrowFunctions": false
            }
        ],
        "no-magic-numbers": [
            "error",
            {
                "ignore": [
                    -1,
                    0,
                    0.5,
                    1,
                    2,
                    3,
                    4,
                    100
                ],
                "ignoreArrayIndexes": true,
                "enforceConst": true,
                "detectObjects": false
            }
        ],
        // Require the extension for JavaScript files in import statements.
        // The first "always" enforces that extensions are always used.
        // The object then specifies that for .js files, the extension must be present.
        "import/extensions": [
            "error",
            "always",
            {
                "js": "always",
                "jsx": "always"
            }
        ]
    },
    "settings": {
        // This setting is important so the eslint-plugin-import knows which file extensions to resolve.
        "import/resolver": {
            "node": {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        }
    },
    "overrides": [
        {
            "files": [
                "**/*.test.js",
                "**/*.test.jsx",
                "**/*.test.ts",
                "**/*.test.tsx"
            ],
            "rules": {
                "no-magic-numbers": "off"
            }
        }
    ]
}