node-linker=hoisted
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
side-effects-cache=false

# Allow specific packages to run install scripts
onlyBuiltDependencies[]=isolated-vm
onlyBuiltDependencies[]=bcrypt
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=prisma