:root {
    --card-background-color: #3f51b5;
    /* Indigo color */
    --card-primary-color: #fff;
    --card-secondary-color: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --card-background-color: #607d8b;
        /* Blue-grey color */
        --card-primary-color: #fff;
        --card-secondary-color: #fff;
    }
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 2rem;
    padding: 2rem;
}

.card {
    background-color: var(--card-background-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0.5rem;
    padding: 1rem;
    width: 100%;
    text-decoration: none;
    transition: box-shadow 0.3s ease-in-out;
}

.card a {
    text-decoration: none;
    color: var(--card-primary-color);
}

.card a:hover {
    text-decoration: none;
    color: var(--card-primary-color);
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card h3 {
    margin-bottom: 1rem;
    margin-top: 0;
}

.card p {
    color: var(--card-secondary-color);
    font-size: 1rem;
}