@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-sans);
  background-color: rgb(var(--color-surface-base));
  color: rgb(var(--color-text-primary));
  margin: 0;
}
