@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-foreground font-sans antialiased;
}

*::-webkit-scrollbar {
  width: 0.65rem;
  height: 0.65rem;
}

*::-webkit-scrollbar-track {
  @apply bg-slate-900;
}

*::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-md;
}
