@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  --edge-stroke-color: rgba(148, 163, 184, 0.3);
}

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
