name: Tests

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]

# Limit permissions to only what's needed
permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0
        with:
          node-version: "18.x"
          cache: "pnpm"

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Run Tests in Workspaces
        run: |
          pnpm workspace @local/shared test && \
          pnpm workspace @local/server test && \
          pnpm workspace @local/jobs test && \
          pnpm workspace @local/ui test

      - name: Run Bash Script Tests
        run: ./scripts/tests/__runTests.sh
